@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #222;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #192841;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}

.mainDiv {
  padding-top: 40px;
}

.contentHeader {
  text-align: center;
  z-index: -1;
  width: 100%;
  padding-top: 10px;
  color: #1b1b1b;
}
.contentHeader {
  font-size: 30px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .contentHeader {
    text-align: center;
    z-index: -1;
    width: 100%;
    padding-top: 10px;
    color: #1b1b1b;
    padding: 2px;
  }
}

.AboutOnHomepage {
  padding: 5% 10%;
  width: 100%;
  text-align: justify;
  align-items: center;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .AboutOnHomepage {
    width: 100%;
    text-align: justify;
    height: 100px;
    align-items: center;
  }
}

.AboutOnHomepage h2 {
  white-space: nowrap;
}

.mainUpdate {
  padding-left: 10%;
}

@media screen and (max-width: 768px) {
  .mainUpdate {
    padding-left: 5%;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.recentUpdates {
  padding-bottom: 3%;
}

@media screen and (max-width: 768px) {
  .recentUpdates {
    padding-top: 4%;
  }
}

.updateHome1 {
  padding-bottom: 3%;
  margin-top: 0%;
  margin-bottom: 20px;
  display: flex;
  width: 70%;
}

.par1 {
  padding-top: 2%;
  float: left;
  margin-left: 10px;
}

.img1 {
  padding-top: 2%;
  width: 100px;
  height: 100px;
  float: right;
}

@media screen and (max-width: 768px) {
  .updateHome1 {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 20px;
  }
  .par1 {
    margin-left: 10px;
  }
  .img1 {
    padding-top: 2%;
    width: 150px;
    height: 100px;
  }
}

.updateHome2 {
  padding-bottom: 3%;
  width: 70%;
  margin-top: 0%;
  margin-bottom: 20px;
  display: flex;
}

.par2 {
  padding-top: 2%;
  float: left;
  margin-left: 10px;
}

.img2 {
  padding-top: 2%;
  width: 100px;
  height: 100px;
  float: right;
}

@media screen and (max-width: 768px) {
  .updateHome2 {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 20px;
  }
  .par2 {
    margin-left: 10px;
  }
  .img2 {
    padding-top: 2%;
    width: 150px;
    height: 100px;
  }
}

.updateHome3 {
  width: 70%;
  margin-top: 0%;
  margin-bottom: 20px;
  display: flex;
}

.par3 {
  padding-top: 2%;
  float: left;
  margin-left: 10px;
}

.img3 {
  padding-top: 2%;
  width: 100px;
  height: 100px;
  float: right;
}

@media screen and (max-width: 768px) {
  .updateHome3 {
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 20px;
  }
  .par3 {
    margin-left: 10px;
  }
  .img3 {
    padding-top: 2%;
    width: 150px;
    height: 100px;
  }
}
